body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  color: whitesmoke;
  background-color: #1b263b;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  object-fit: cover;
  height: 100%;
}

.btn {
  border: none;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  width: 100%;
  margin: 0.25rem 0;
}

.increment-btn {
  background-color: #c1121f;
  color: whitesmoke;
}

.increment-btn:hover, .increment-btn:focus {
  background-color: #780000;
}

.save-btn {
  background-color: whitesmoke;
  color: #c1121f
}

.save-btn:hover, .save-btn:focus {
  opacity: 0.8;
}

.hero-div {
  background-color: #0d1b2a;
  padding: 2em;
  border-radius: 4px;
}


.title {

}